<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">reWIRED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Favorites</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">reWIRED</h1>
        <p class="lead">Your favorite articles</p>
    </div>
</div>

<section class="container" id="articles">
    <div class="row">
        <!-- Add articles here -->
        <div class="col-lg-3 col-md-6 article-col" id="template" hidden>
            <article class="card">
                <img src="..." class="card-img-top article-image" alt="...">
                <i class="fas fa-heart"></i>
                <div class="card-body">
                    <p class="card-text article-category">Category</p>
                    <h5 class="card-title article-headline">Headline</h5>
                    <p class="card-text article-author">Author</p>
                    <a href="#" target="_blank" class="btn btn-primary read-article-btn">Read article</a>
                    <button class="btn btn-secondary view-comments-btn">View comments</button>
                </div>
            </article>
        </div>
    </div>
</section>

<!-- Modal for adding/viewing article comments -->
<section class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentsModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="comments-list">
                    <li class="comment" id="comment-template" hidden>
                        <p>Comment Template</p>
                        <button type="button" class="delete-comment-btn">&times;</button>
                    </li>
                </ul>
                <label for="new-comment">Add your comment below.</label>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" id="new-comment" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-comment-btn">Add comment</button>
            </div>
        </div>
    </div>
</section>

<!-- Importing jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Importing Bootstrap JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!--Importing FontAwesome JavaScript-->
<script src="https://kit.fontawesome.com/9d112d245b.js" crossorigin="anonymous"></script>

<!--Importing custom JavaScript-->
<script src="js/saved.js"></script>