.navbar {
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 1;
    background-color: rgba(248, 249, 250, 0.8)!important;

}

.jumbotron {    
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url(/images/artificial-intelligence-circuit-board-computing-50711.jpg);
    background-position: center center;
    color: white;
    margin-top: 56px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Share Tech', sans-serif;
}

p, button, a {
    font-family: 'Raleway', sans-serif;
}

.article-category {
    text-transform: uppercase;
}

.card {
    margin-bottom: 1em;
}

/* "favorite" heart */
i { 
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 24px;
    text-shadow: 0 0 3px dimgray;
}

.read-article-btn 
.view-comments-btn {
    margin-bottom: 0.5em;
}

#comments-list {
    padding-left: 0;
}

.comment {
    position: relative;
    list-style-type: none;  
    padding: 5px;
}

.comment p {
    margin: 0;
}

.comment span {
    color: white;
    font-family: 'Share Tech', sans-serif;
    background-color: gray;
    border-radius: 0.2em;
    padding: 0.1em 0.5em;  
    display: inline-block;
    text-align: center;
    margin-right: 0.5em;
}

.comment:hover { 
    border: 1px black lightgray;
    box-shadow: 1px 1px 5px gray;
}

.delete-comment-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: firebrick;
    border-radius: 5px;
}

